.mar{
  margin-top: 10px;
}

.color{

  background: rgb(208, 226, 253);
}
span{
  font-size:15px;
}
a{
text-decoration:none;
color: #0062cc;
border-bottom:2px solid #0062cc;
}
.box{
  padding:40px 0px;
}

.box-part{
  background:#FFF;
  border-radius:0;
  padding:60px 10px;
  margin:30px 0px;
}
.text{
  margin:20px 0px;
}

.fa{
   color:coral;
}

.centrar
{

  text-align: center;
  font-weight: bold;
  font-style: italic;
  font-family: Georgia, 'Times New Roman', serif;
  color: coral;
}

.serviceBox{
  margin-top: 50px;
  border-bottom: 1px solid #c2c2c2;
  z-index: 1;
  position: relative;
  top: 0;
  transition: all 0.3s ease 0s;
}
.serviceBox:hover{
  top: -20px;
  border-bottom: 1px solid #4183D7;
}
.serviceBox:after{
  content: "";
  width: 2px;
  height: 100%;
  background: #c2c2c2;
  position: absolute;
  bottom: 0;
  left: 37.5px;
  z-index: -1;
  transition: all 0.3s ease 0s;
}
.serviceBox:hover:after{
  background: #4183D7;
}
.serviceBox .service-icon{
  display: inline-block;
  width: 75px;
  height: 75px;
  border-radius: 50%;
  background: #fff;
  border: 5px solid #c2c2c2;
  text-align: center;
  line-height: 70px;
  float: left;
  font-size: 40px;
  color: #c2c2c2;
  z-index: 1;
  transition: all 0.3s ease 0s;
}
.serviceBox:hover .service-icon{
  border-color: #4183D7;
  color: #4183D7;
  margin-top: -30px;
  animation: bounce 1s ease normal none 1;
}
.serviceBox .service-content{
  margin-left: 90px;
  padding-bottom: 70px;
}
.serviceBox .title{
  font-size: 20px;
  color: #222;
  margin-top: 0;
}
.serviceBox .description{
  font-size: 16px;
  color: #444;
  line-height: 24px;
}
.serviceBox .read-more{
  display: inline-block;
  padding: 4px 16px;
  font-size: 13px;
  color: #4183D7;
  text-transform: capitalize;
  border: 2px solid #4183D7;
  border-radius: 5px;
  position: absolute;
  bottom: 0;
  right: 0;
  opacity: 0;
  transition: all 0.3s ease 0s;
}
.serviceBox:hover .read-more{
  bottom: 25px;
  opacity: 1;
}
.serviceBox .read-more:hover{
  background: #4183D7;
  color: #fff;
}
@keyframes bounce{
  0%{ transform:scale(1.8) }
  50%{ transform:scale(0.95) }
  80%{ transform:scale(1.05) }
  90%{ transform:scale(0.98) }
  100%{ transform:scale(1) }
}
@media only screen and (max-width:990px){
  .serviceBox{ margin-bottom: 20px; }
}
@media only screen and (max-width:767px){
  .serviceBox{ margin-bottom: 70px; }
}



