.mar{
  margin-top: 5px;

  }


.color{

  background: rgb(208, 226, 253);
}
span{
  font-size:15px;
}
a{
text-decoration:none;
color: #0062cc;
border-bottom:2px solid #0062cc;
}
.box{
  padding:40px 0px;
}

.box-part{
  background:#FFF;
  border-radius:0;
  padding:60px 10px;
  margin:30px 0px;
}
.text{
  margin:20px 0px;
}

.fa{
   color:#4183D7;
}

.fade { opacity:0.7; }
.fade:hover { opacity:1; }

.centrar{

  text-align: center;
  font-weight: bold;
  font-style: italic;
  font-family: Georgia, 'Times New Roman', serif;
  color: coral;
}
