<!-- section1 slider -->
<div class="mar">
  <div class="container">
    <div class="col-md-12">
      <!-- Carousel aqui -->
      <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel" data-interval="3000">
        <ol class="carousel-indicators">
          <li data-target="#carouselExampleIndicators" *ngFor="let image of InfoSlider;let i = index"
            style="background-color:black" [attr.data-slide-to]="i" ngClass="i == 0 ? 'active' : ''"></li>
        </ol>
        <div class="carousel-inner">

          <div class="carousel-item" *ngFor="let image of InfoSlider; let k = index"
            [ngClass]="k == 0 ? 'item active' : 'item'">
            <img class="d-block w-100" [src]="image.url" style="height:500px">
            <div class="carousel-caption d-none d-md-block">
              <h4>{{image.titulo}}</h4>
              <p>{{image.descripcion}}</p>
            </div>
          </div>

        </div>
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
    </div>
  </div>
</div>
<br><br><br>
<!-- section2 bienvenido-->
<div class="container ">
  <div class="centrar">
    <h1>{{infoheader.titulo}}</h1>
  </div><br>
  <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8 centrar">
      <!-- Text -->
      <h4>{{infoheader.descripcion}}</h4><br>
      <button class="btn btn-info">{{infoheader.nombre_boton}}</button>
    </div>
    <div class="col-md-2"></div>
  </div>
</div>
<br><br><br>
<!-- section3 cards-->
<div class="container">
  <div class="row">
    <div class="col-md-4 col-sm-6" *ngFor="let data of InfoCuerpo">
      <div class="serviceBox">
        <span class="service-icon">
          <i class="fa fa-{{data.icon}}"></i>
        </span>
        <div class="service-content">
          <h3 class="title">{{data.titulo}}</h3>
          <p class="description">
            {{data.descripcion}}
          </p>
          <a href="#" class="read-more">read more</a>
        </div>
      </div>
    </div>
  </div>
</div>
<br><br><br>
<!-- section4 grilla-->
<div class="container">
  <div class="row">
    <div class="col-sm-6 col-md-4 c" style="margin-bottom:30px;" *ngFor="let data of Infosection4" >
      <div class="crmTile">
        <i class="fa fa-{{data.icono}} fa-2x f"></i>
        <h5>{{data.titulo}}</h5>
      </div>
      <p class="text">
        {{data.descripcion}} 
      </p>
    </div>
  </div>

</div>
<br><br><br>
<!-- section5 quienes-->
<div class="container">
  <div class="row">
    <div class="col-md-6">
      <h3>WHO WE ARE</h3><br>
      <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
          <li data-target="#carouselExampleControls" data-slide-to="0" class="active" style="background-color:black">
          </li>
          <li data-target="#carouselExampleControls" data-slide-to="1" style="background-color:black"></li>
          <li data-target="#carouselExampleControls" data-slide-to="2" style="background-color:black"></li>
        </ol>
        <div class="carousel-inner">
          <div class="carousel-item active pslider">
            <h6>Web grafics</h6>
            <div class="progress">
              <div class="progress-bar progress-bar-striped" role="progressbar" aria-valuenow="75" aria-valuemin="0"
                aria-valuemax="100" style="width: 80%">80%
              </div>
            </div>
            <br>
            <h6>Web grafics</h6>
            <div class="progress">
              <div class="progress-bar progress-bar-striped bg-danger" role="progressbar" aria-valuenow="75"
                aria-valuemin="0" aria-valuemax="100" style="width: 30%">30%
              </div>
            </div>
            <br>
            <h6>Web grafics</h6>
            <div class="progress">
              <div class="progress-bar progress-bar-striped bg-secondary" role="progressbar" aria-valuenow="75"
                aria-valuemin="0" aria-valuemax="100" style="width: 60%">60%
              </div>
            </div>
            <br>
            <h6>Web grafics</h6>
            <div class="progress">
              <div class="progress-bar progress-bar-striped bg-success" role="progressbar" aria-valuenow="75"
                aria-valuemin="0" aria-valuemax="100" style="width: 34%">34%
              </div>
            </div>
            <br>
          </div>
          <div class="carousel-item pl-3 pslider">
            <!-- Heading -->
            <h2>Our philosophy</h2>
            <!-- Content -->
            <div>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Excepturi facere earum quis ipsa vitae qui
                minima esse ducimus dolorum iste nisi
                laborum repellat dolores dolore debitis adipisci nemo quia autem pariatur a voluptatem dignissimos
                maiores accusantium nobis tempora consequatur cumque quas ea doloribus deleniti.
              </p>
              <p>Quibusdam commodi laboriosam error temporibus iste ipsa soluta distinctio maiores ad totam beatae
                incidunt veritatis enim? Reiciendis
                voluptate assumenda quidem eos explicabo rerum.
              </p>
            </div>
          </div>
          <div class="carousel-item pl-3 pslider">
            <!-- Heading -->
            <h2>Our history</h2>
            <!-- Content -->
            <div>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Excepturi facere earum quis ipsa vitae qui
                minima esse ducimus dolorum iste nisi
                laborum repellat dolores dolore debitis adipisci nemo quia autem pariatur a voluptatem dignissimos
                maiores accusantium nobis tempora consequatur cumque quas ea doloribus deleniti.
              </p>
              <p>Quibusdam commodi laboriosam error temporibus iste ipsa soluta distinctio maiores ad totam beatae
                incidunt veritatis enim? Reiciendis
                voluptate assumenda quidem eos explicabo rerum.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <img src="../../../assets/img/full-img3.jpg" style="width: 600px;">
    </div>

  </div>
</div>
<br><br><br>
<!-- section6 nuestros servicios-->
<div class="container">
  <h2 class="centrar">Nuestros servicios</h2><br>
      <div class="row">
            <div class="col-md-6">
                  <div class="tab" role="tabpanel">
                        <ul class="nav nav-tabs">
                              <li routerLinkActive="active"><a routerLink='contables'>Contables</a></li>
                              <li routerLinkActive="active"><a routerLink='informaticas'>Informaticas</a></li>
                          </ul>
                    </div>
              </div>
        </div>
</div>
<!-- section7 despliegue nuestros servicios-->
<div class="container">
  <br>
  <router-outlet></router-outlet>
</div>
<br><br><br>
<!-- section8 responsive-->
<div class="container">
  <div class="row">
    <div class="col-md-8">
      <div>
        <!-- Title -->
        <h2>Responsive & Mobile Ready</h2>
      </div>
      <!-- Content -->
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum nec odio ipsum. Suspendisse cursus
        malesuada facilisis. Nunc consectetur odio sed
        dolor tincidunt porttitor. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum nec odio ipsum.
        Suspendisse cursus malesuada facilisis. Nunc consectetur odio sed
        dolor tincidunt porttitor consectetur adipiscing elit. Vestibulum nec odio ipsum. Suspendisse cursus malesuada
        facilisis. porttitor consecteturadipiscing elit. Vestibulum nec odio
        ipsum. Suspendisse cursus malesuada facilisis.
      </p>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum nec odio ipsum. Suspendisse cursus
        malesuada facilisis. Nunc consectetur odio sed
        dolor tincidunt porttitor. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
      </p>
      <div class="row ">
        <div class="col-md-4 c">
          <div class="crmTile">
            <i class="fa fa-pie-chart f"></i>
            <h6>Updates</h6>
          </div>
          <p>Lorem ipsum dolor sit amet elit. consectetur Vest   </p>
        </div>
        <div class="col-md-4 c">
            <div class="crmTile">
              <i class="fa fa-address-card f"></i>
              <h6>Flexible</h6>
            </div>
            <p>Lorem ipsum dolor sit amet elit. consectetur Vest   </p>
          </div>
          <div class="col-md-4 c">
              <div class="crmTile">
                <i class="fa fa-calendar f"></i>
                <h6>Custom Colors</h6>
              </div>
              <p>Lorem ipsum dolor sit amet elit. consectetur Vest   </p>
            </div>
        
      </div>
    </div>
    <div class="col-md-4 text-center bottom-xs-pad-30">
      <!-- Image -->
      <img src="../../../assets/img/iphone-img.png" width="280" height="440" alt="">
    </div>
  </div>
</div><br><br>