<h4>Home / section3</h4>
<hr>
<div class="container">
  <div class="row">
    <button type="button" class="btn btn-success" (click)="addCard()" data-toggle="modal" data-target="#exampleModalCenter">Agregar
      Cards</button>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-4 col-sm-6" *ngFor="let data of InfoCuerpo">
      <div class="serviceBox">
        <span class="service-icon">
          <i class="fa fa-{{data.icon}}"></i>
        </span>
        <div class="service-content">
          <h3 class="title">{{data.titulo}}</h3>
          <p class="description">
            {{data.descripcion}}
          </p>
          <a href="#" class="read-more">leer mas</a>
        </div>
      </div><br>
      <div class="text-center">
        <button class="btn btn-danger" (click)="removeCards(data.id)" > Eliminar Cards</button>&nbsp;
        <button class="btn btn-primary"  (click)="updateCard(data)" data-toggle="modal" data-target="#exampleModalCenter"> Actualizar Cards</button>
      </div>
    </div>
  </div>
</div>


<div class="modal fade" id="exampleModalCenter" tabindex="-1" data-backdrop="static" data-keyboard="false" role="dialog" aria-labelledby="exampleModalCenterTitle"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">{{titleModal}}</h5>
        <button type="button" class="close" data-dismiss="modal" (click)="clearForm()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form [formGroup]="formularioAddCards" >
          <div class="form-group">
            <label for="exampleFormControlInput1">Icono</label>
            <input type="text" class="form-control" formControlName="icon" placeholder="Nombre icono">
            <span class="reauth-email">{{getErrorHomeSection3('icon')}}</span>
          </div>
          <div class="form-group">
            <label for="exampleFormControlInput1">Titulo</label>
            <input type="text" class="form-control" formControlName="titulo"  placeholder="Titulo">
            <span class="reauth-email">{{getErrorHomeSection3('titulo')}}</span>
          </div>
          <div class="form-group">
            <label for="exampleFormControlInput1">Descripcion</label>
            <textarea type="text" class="form-control" formControlName="descripcion" placeholder="Descripcion"></textarea>
            <span class="reauth-email">{{getErrorHomeSection3('descripcion')}}</span>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary"  (click)="clearForm()" data-dismiss="modal">Cerrar</button>
        <button type="button" class="btn btn-primary" *ngIf="Isadd && !formularioAddCards.invalid"  (click)="saveUpdateCard(formularioAddCards, 1)"  data-dismiss="modal" >Agregar Card</button>
        <button type="button" class="btn btn-primary" *ngIf="Isupdate && !formularioAddCards.invalid"  (click)="saveUpdateCard(formularioAddCards, 2)" data-dismiss="modal" >Actualizar Card</button>
      </div>
    </div>
  </div>
