<h4>Home / section1</h4>
<hr class="style1">
<div class="row ">
  <div class="col-md-12">
      <ul class="nav nav-pills nav-fill">
          <li class="nav-item">
            <a class="nav-link" routerLink='addslider' routerLinkActive="active"><i class="fa fa-plus-square" ><span>&nbsp; Agregar Slide</span></i></a>
          </li>&nbsp;
          <li class="nav-item">
            <a class="nav-link" routerLink='deleteslider' routerLinkActive="active" ><i class="fa fa-trash"><span>&nbsp;Eliminar Slide</span></i>&nbsp;/&nbsp;<i class="fa fa-edit"><span >&nbsp; Actualizar Slide</span></i></a>
          </li>&nbsp;
        </ul>
    
  </div>
</div>
<hr>
<router-outlet></router-outlet>



