<h4>Home / section1</h4>
<hr class="style1">
<div class="row ">
  <div class="col-md-12">
      <ul class="nav nav-pills nav-fill">
          <li class="nav-item">
            <a class="nav-link" routerLink='addslider' routerLinkActive="active"><span class="fa fa-plus-square"></span>&nbsp;Agregar Slide</a>
          </li>&nbsp;
          <li class="nav-item">
            <a class="nav-link" routerLink='updateslider' routerLinkActive="active" ><span class="fa fa-refresh"></span>&nbsp;Actualizar Slide</a>
          </li>&nbsp;
          <li class="nav-item">
            <a class="nav-link" routerLink='deleteslider' routerLinkActive="active" ><span class="fa fa-remove"></span>&nbsp;Eliminar Slide</a>
          </li>&nbsp;
        </ul>
    
  </div>
</div>
<hr>
<router-outlet></router-outlet>



