hr.style1{
    border-top: 1px solid gray;
    margin-top: 0%;
    padding: 0%;
    margin-bottom: 5px
 }

 /* -----------navbar----------- */

.nav-link{
   font-weight: bold;
   color:black;
   border: #218838 1px solid
}

 .nav-pills .nav-link.active {
   color: #fff;
   background-color: #218838;
  
 }
 .col-md-12{
    font-family: Georgia, 'Times New Roman', Times, serif;
 }
 h4{
    font-family: Georgia, 'Times New Roman', Times, serif;
 }

 span{
   font-size: 18px;
   font-family: Georgia, 'Times New Roman', Times, serif;
 }
 