<div class="row">
  <div class="col-md-12 col-lg-5 border border-primary rounded-lg">
    <h3>{{Infosection5_0.titulo}}</h3>
    <hr class="style4">
  </div>
  <div class="col-md-12 col-lg-6  border border-primary rounded-lg">
    <form (ngSubmit)="UpdateTitle()">
      <div class="form-group">
        <label>Titulo</label>
        <input type="text" class="form-control " name="titulo" [(ngModel)]="Infosection5_0.titulo">
      </div>
      <button type="submit" class="btn btn-primary btn-block">Actualizar</button>
    </form>
  </div>
</div>
