<!-- Team -->
<section id="team" class="pb-5">
  <div class="container">
      <div class="row">
          <!-- Team member -->
          <div class="col-xs-12 col-sm-6 col-md-4" *ngFor="let data of InfoPieContable">
              <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                  <div class="mainflip">
                      <div class="frontside">
                          <div class="card">
                              <div class="card-body text-center">
                                  <p><img class=" img-fluid" [src]="data.url" alt="card image"></p>
                                  <h4 class="card-title">{{data.titulo}}</h4>
                                  <p class="card-text">{{data.descripcion}}</p>
                                  <a href="#" class="btn btn-primary btn-sm"><i class="fa fa-plus"></i></a>
                              </div>
                          </div>
                      </div>
                      <div class="backside">
                          <div class="card">
                              <div class="card-body text-center mt-4">
                                  <h4 class="card-title">{{data.titulo_atras}}</h4>
                                  <p class="card-text">{{data.descripcion_atras}}</p>
                                  <ul class="list-inline">
                                      <li class="list-inline-item">
                                          <a class="text-xs-center" routerLink='/usuarios/acercade'>Leer mas <span class="fa fa-hand-o-left"></span></a>
                                      </li>
                                  </ul>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
          <!-- ./Team member -->
      </div>
  </div>
</section>
<!-- Team -->
