<br>
<div class="container">
  <div class="card card-container">

    <img id="profile-img" class="profile-img-card" src="//ssl.gstatic.com/accounts/ui/avatar_2x.png" />
    <p class="profile-name-card">ADMINISTRADOR</p><br>
    <form class="form-signin" [formGroup]="formulario" (ngSubmit)="onLogin(formulario)">

      <input type="email" formControlName="mail" class="form-control" placeholder="Correo electronico">
      <span class="reauth-email">{{getError('mail')}}</span>
      <input type="password" formControlName="password" class="form-control" placeholder="Password">
      <span class="reauth-email">{{getError('password')}}</span>
      <div id="remember" class="checkbox">
        <label>
          <input type="checkbox" value="remember-me"> Recordar contraseña
        </label>
      </div>
      <button class="btn btn-lg btn-primary btn-block btn-signin" [disabled]="formulario.invalid" type="submit">INICIAR
        SESION</button>
    </form><!-- /form -->
    <p>
      Olvido su contraseña? Click
      <a href="#" class="forgot-password" data-toggle="modal" data-target="#exampleModalCenter">
        Aquí
      </a>

    </p>
  </div><!-- /card-container -->
</div><!-- /container -->


<div class="modal fade" id="exampleModalCenter" tabindex="-1" data-backdrop="static" data-keyboard="false" role="dialog" aria-labelledby="exampleModalCenterTitle"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" style="color: coral">Recuperar Contraseña</h5>
        <button (click)="clear(formularioReset)" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form [formGroup]="formularioReset" (ngSubmit)="resetPassword(formularioReset)">
          <div class="form-group">
            <label for="recipient-name" class="col-form-label">Le enviaremos un link a su correo para recuperar la
              contraseña</label>
            <input type="text" class="form-control" formControlName="mailReset" placeholder="Ingrese correo">
            <span class="reauth-email">{{getErrorReset('mailReset')}}</span>
          </div>
          <div class="modal-footer">
            <button   (click)="clear(formularioReset)"  data-dismiss="modal" class="btn btn-success">Cerrar</button>
            <button  type="submit" class="btn btn-primary" [disabled]="formularioReset.invalid">Enviar</button>
          </div>
        </form>
      </div>

    </div>
  </div>
</div>

<app-footer></app-footer>