<div style="background-color: coral;height: 30px">
</div>
<div class="container">
  <div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-10">
      <form>
        <div class="contac">
          <h2>CONTACTENOS</h2>
          <hr class="style1">
        </div>
        <label for=""> Nombre completo</label>
        <div>
          <input type="text">
        </div>
        <label for=""> Correo electronico</label>
        <div>
          <input type="text">
        </div>
        <label for=""> Telefono fijo o Celular</label>
        <div>
          <input type="text">
        </div>
        <label for=""> Mensaje</label>
        <div>
          <textarea name="" id="" rows="5"></textarea>
        </div>
        <div>
          <button class="btn">ENVIAR&nbsp;&nbsp;&nbsp;&nbsp;<i class="fa fa-arrow-circle-o-right"></i></button>
        </div>
      </form>
    </div>
  </div>
  <div class="row">
    <div class="col-md-1">
    </div>
    <div class="col-md-10">
      <hr class="style2">
      <div>
        <iframe
          src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d994.2177355472995!2d-74.1217157707959!3d4.61710233654324!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8e3f99f6993b6c55%3A0x9b15db61ec373a1e!2sAJM+soluciones+contables+e+Informaticas!5e0!3m2!1ses!2sco!4v1559164018719!5m2!1ses!2sco"
          width="100%" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
      </div><br>
      <div>
        <ul class="fa-ul">
          <li><i class="fa-li fa fa-map-marker i_"></i><span>Cra. 55 # 2a – 06 | Bogota, Colombia</span></li>
          <li><i class="fa-li fa fa-mobile-phone i_"></i><span>315 671 38 50</span></li>
          <li><i class="fa-li fa fa-phone i_"></i><span>(57) 482 91 06</span></li>
          <li><i class="fa-li fa fa-envelope-o i_"></i><span>Ajmsolcontainfo@gmail.com</span></li>
        </ul>
      </div>
    </div>
    <div class="col-md-1">
    </div>
  </div>
</div>
