<!-- section1 -->
<div class="sec">
    <div class="container section">
        <div class="row">
            <div class="col-md-5">
                <h1>
                    {{infosection1.parrafo1}}
                </h1>
                <p>
                    {{infosection1.parrafo2}}
                </p>
            </div>
            <div class="col-md-7">
                <img src="{{infosection1.url}}" alt="" />
            </div>
        </div>
    </div>
</div>
<hr class="style2 ">
<hr class="style1">

<!-- section2 -->

<div class="container">
    <div class="row">
        <div class="col-md-7">
            <img class="imgs2" src="../../../assets/img/full-img3.jpg">
        </div>
        <div class="col-md-5">
            <h3>SOMOS AJM, LA AGENCIA QUE TE SABE AYUDAR.</h3>
            <hr class="style3">
            <p>Muchos nos conocen como la agencia donde las ideas toman forma.</p><br>
            <p>Otros creen que somos una empresa de diseño web de Madrid, una agencia especializada en marketing de
                contenidos o un grupo de programadores web que hacen desarrollo a medida.</p><br>
            <p>Todos tienen razón, pero es que Ajm además de eso es mucho más.</p>
        </div>
    </div>
</div><br><br><br>

<!-- section3 -->

<div class="container">
    <div class="row">
        <div class="col-md-6">
            <hr class="style3">
            <h2>{{infosection3.titulo}}</h2>
            <p>{{infosection3.parrafo1}}</p>
            <p>{{infosection3.parrafo2}} </p>
        </div>
        <div class="col-md-6"><br><br>
            <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel" data-interval="3000">
                <ol class="carousel-indicators">
                    <li data-target="#carouselExampleIndicators"
                        *ngFor="let indicador of Infosection3Slider;let i = index" style="background-color:black"
                        [attr.data-slide-to]="i" [ngClass]="i == 0 ? 'active' : ''">
                    </li>
                </ol>
                <div class="carousel-inner">
                    <div class="carousel-item " *ngFor="let contenido of Infosection3Slider; let k = index"
                        [ngClass]="k == 0 ? 'item active' : 'item'">
                        <div class="sec slides3">
                            <p>{{contenido.parrafo1}}</p>
                            <b>{{contenido.parrafo2}}</b><br>
                            <p>{{contenido.parrafo3}}</p>
                        </div><br>
                        <div class="paddin1">
                            <h6 style="color:coral">{{contenido.nombre}}</h6>
                            <h6 style="margin:-2.5% 0;">{{contenido.web}}</h6>
                        </div>
                    </div>
                </div>
                <a class="carousel-control-prev " href="#carouselExampleIndicators" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" style="background-color: rgb(181, 182, 180)"
                        aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next " href="#carouselExampleIndicators" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" style="background-color: rgb(181, 182, 180)"
                        aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
        </div>
    </div>
</div><br><br><br>

<!-- section4 -->
<div class="container">
    <div class="section4">
        <div>
            <b>{{infosection4.parrafo1}}</b><br><br>
        </div>
        <p>{{infosection4.parrafo2}}</p>
        <p class="psection4"> {{infosection4.parrafo3}}</p>
    </div>
    <div class="row">
        <div class="col-md-4 col-sm-6"  *ngFor="let miembro of Infosection4Equipo" style="margin-top: 10px" >
            <div class="box">
                <img src="{{miembro.url}}" alt="">
                <div class="box-content">
                    <h3 class="title">{{miembro.nombre}}</h3>
                    <span class="post">{{miembro.profesion}}</span>
                    <ul class="icon">
                        <li><a href="#"><i class="fa fa-search"></i></a></li>
                        <li><a href="#"><i class="fa fa-link"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>

    </div>
</div><br>
<hr class="style2 ">
<hr class="style1">

<!-- section5 -->
<div class="container">
    <div class="row">
        <div class="col-md-8 text-center">
            <hr class="style4">
            <h3>{{infosection5.titulo}}</h3>
            <p>{{infosection5.parrafo1}}</p>
            <p>{{infosection5.parrafo2}} <a href="#">nuestro blog</a>
                dicen que se divierten mucho. Pero cada cosa a su tiempo. </p>
            <p>{{infosection5.parrafo3}}</p><br>
            <div class="row">
                <div class="col-md-4 img-center1">
                    <img src="{{infosection5.url}}"
                        alt="">
                </div>
                <div class="col-md-4 img-center2">
                    <img src="{{infosection5.url1}}"
                        alt="">
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <img class="img-center3"
                src="{{infosection5.url2}}"
                alt="">
        </div>
    </div>
</div>
<hr class="style2 ">
<hr class="style1">
<!-- section6 -->

<div class="container">
    <div class="row ">
        <div class="col-md-12 text-center">
            <h1>{{infosection6.parrafo1}}</h1>
            <p>{{infosection6.parrafo2}}</p>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 separate" *ngFor="let instalacion of Infosection6Instalaciones" >
            <div class="hovereffect">
                <img class="img-responsive" src="{{instalacion.url}}" alt="">
                <div class="overlay">
                    <h2>{{instalacion.titulo}}</h2>
                    <a class="info" href="#">{{instalacion.bsabermas}}</a>
                </div>
            </div>
        </div>
    </div>

</div><br><br>
<hr class="style2 ">
<hr class="style1">
<!-- section7 -->

<div class="container">
    <div class="row background ">
        <div class="col-md-8">
            <p>{{infosection7.parrafo1}}</p>
            <hr class="style5">
            <p class="p2">{{infosection7.parrafo2}}</p>
            <div class="divs7">
                <a routerLink='/usuarios/contactenos'>{{infosection7.parrafo3}}&nbsp; <span
                        class="fa fa-bell"></span></a>
            </div><br>
            <div class="col-md-4"></div>
        </div>
    </div>
</div>
<br>

<app-footer></app-footer>