.section .row{
  margin-top: 4px;
  margin-bottom: 10%;
}

.section h1{
  color:coral;
  margin-top: 40%;
  text-align: right
}
.section p{
  padding-top: 5%;
  color: rgb(126, 126, 128);
  font-size: 3rem;
  text-align: right

}
.section img
{
  margin-top: 20%;
  width: 100%;
  height: 70%;
}
.sec{
  -webkit-box-shadow: inset 0px 64px 103px -49px rgb(180, 231, 255);
-moz-box-shadow: inset 0px 64px 103px -49px rgb(132, 216, 255);
box-shadow: inset 0px 64px 103px -49px rgb(149, 222, 255);
}
