<!-- section1 -->
<div class="sec">
    <div class="container section">
        <div class="row">
            <div class="col-md-5">
                <h1>
                    SER NORMALES NOS HACE DIFERENTES
                </h1>
                <p>
                    AJM SOLUCIONES ES MUCHO MÁS, CONÓCENOS
                </p>
            </div>
            <div class="col-md-7">
                <img src="https://preview.ibb.co/erdq8p/Employee-1.jpg" alt="" />
            </div>
        </div>
    </div>
</div>
<hr class="style2 ">
<hr class="style1"><br><br><br>

<!-- section2 -->

<div class="container">
    <div class="row">
        <div class="col-md-7">
            <img class="imgs2" src="../../../assets/img/full-img3.jpg">
        </div>
        <div class="col-md-5">
            <h3>SOMOS AJM, LA AGENCIA QUE TE SABE AYUDAR.</h3>
            <hr class="style3">
            <p>Muchos nos conocen como la agencia donde las ideas toman forma.</p><br>
            <p>Otros creen que somos una empresa de diseño web de Madrid, una agencia especializada en marketing de
                contenidos o un grupo de programadores web que hacen desarrollo a medida.</p><br>
            <p>Todos tienen razón, pero es que Ajm además de eso es mucho más.</p>
        </div>
    </div>
</div><br><br><br>

<!-- section3 -->

<div class="container">
    <div class="row">
        <div class="col-md-6">
            <hr class="style3">
            <h2>SOMOS PERSONAS</h2>
            <p>Nos gustan las cosas claras, la honestidad y la sencillez. Vamos siempre directos al grano y tenemos los
                pies en la tierra. Somos auténticos. Ser normales nos hace diferentes. </p>
            <p>Los que ya nos conocen dicen, además, que somos grandes profesionales. Pero eso, lo sentimos, preferimos
                que lo leas y descubras tú. </p>
        </div>
        <div class="col-md-6"><br><br>
            <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel" data-interval="4000" >
                <ol class="carousel-indicators">
                    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                </ol>
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <div class="sec slides3">
                            <p>Contamos con ajm para poner al dia nuestra web. Todo muy fluido.</p>
                            <b>Gran empatia y avanzando desde el primer dia. entendieron nuestro modelo de negocion y el
                                tipo de web que necesitabamos</b><br>
                            <p>Gracias chicos, nos lo habéis puesto muy fácil.</p>
                        </div><br>
                        <div class="paddin1">
                            <h6 style="color:coral">Manuel Diaz</h6>
                            <h6 style="margin:-2.5% 0;">www.google.com.co</h6>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="sec slides3">
                            <p>Contamos con ajm para poner al dia nuestra web. Todo muy fluido.</p>
                            <b>Gran empatia y avanzando desde el primer dia. entendieron nuestro modelo de negocion y el
                                tipo de web que necesitabamos</b><br>
                            <p>Gracias chicos, nos lo habéis puesto muy fácil.</p>
                        </div><br>
                        <div class="paddin1">
                            <h6 style="color:coral">Manuel Diaz</h6>
                            <h6 style="margin:-2.5% 0;">www.google.com.co</h6>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="sec slides3">
                            <p>Contamos con ajm para poner al dia nuestra web. Todo muy fluido.</p>
                            <b>Gran empatia y avanzando desde el primer dia. entendieron nuestro modelo de negocion y el
                                tipo de web que necesitabamos</b><br>
                            <p>Gracias chicos, nos lo habéis puesto muy fácil.</p>
                        </div><br>
                        <div class="paddin1">
                            <h6 style="color:coral">Manuel Diaz</h6>
                            <h6 style="margin:-2.5% 0;">www.google.com.co</h6>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div><br><br><br>

<!-- section4 -->
<div class="container">
        <div class="section4">
            <div>
                <b>SOMOS MUCHAS COSAS,</b><br><br>
            </div>
            <p>PERO SOBRE TODO..</p> <p class="psection4"> SOMOS UN EQUIPO</p>
        </div>
    <div class="row">
        <div class="col-md-4 col-sm-6">
            <div class="box">
                <img src="https://i.pinimg.com/originals/ca/ff/ff/caffff80e9b3e15293780fe00e30721e.jpg" alt="">
                <div class="box-content">
                    <h3 class="title">Mirella Prieto</h3>
                    <span class="post">Contadora Publica</span>
                    <ul class="icon">
                        <li><a href="#"><i class="fa fa-search"></i></a></li>
                        <li><a href="#"><i class="fa fa-link"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-6">
            <div class="box">
                <img src="https://www.inacap.cl/tportal/portales/tp5e128a166i290/uploadImg/Image/Gonzalo-Vargas-Otte-interior.jpg" alt="">
                <div class="box-content">
                    <h3 class="title">Jhon Zabala</h3>
                    <span class="post">Desarrolladro Web</span>
                    <ul class="icon">
                        <li><a href="#"><i class="fa fa-search"></i></a></li>
                        <li><a href="#"><i class="fa fa-link"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-6">
            <div class="box">
                <img src="https://i.pinimg.com/originals/bb/b9/3a/bbb93a13948dc2d306aec5c1ee4910ac.jpg" alt="">
                <div class="box-content">
                    <h3 class="title">Angie Prieto</h3>
                    <span class="post">Asistente</span>
                    <ul class="icon">
                        <li><a href="#"><i class="fa fa-search"></i></a></li>
                        <li><a href="#"><i class="fa fa-link"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
        
    </div>
</div>

<br><br><br><br><br>