<!-- section1 -->
<div class="sec">
    <div class="container section">
        <div class="row">
            <div class="col-md-5">
                <h1>
                    {{infosection1.parrafo1}}
                </h1>
                <p>
                    {{infosection1.parrafo2}}
                </p>
            </div>
            <div class="col-md-7">
                <img src="{{infosection1.url}}" alt="" />
            </div>
        </div>
    </div>
</div>
<hr class="style2 ">
<hr class="style1">

<!-- section2 -->

<div class="container">
    <div class="row">
        <div class="col-md-7">
            <img class="imgs2" src="../../../assets/img/full-img3.jpg">
        </div>
        <div class="col-md-5">
            <h3>SOMOS AJM, LA AGENCIA QUE TE SABE AYUDAR.</h3>
            <hr class="style3">
            <p>Muchos nos conocen como la agencia donde las ideas toman forma.</p><br>
            <p>Otros creen que somos una empresa de diseño web de Madrid, una agencia especializada en marketing de
                contenidos o un grupo de programadores web que hacen desarrollo a medida.</p><br>
            <p>Todos tienen razón, pero es que Ajm además de eso es mucho más.</p>
        </div>
    </div>
</div><br><br><br>

<!-- section3 -->

<div class="container">
    <div class="row">
        <div class="col-md-6">
            <hr class="style3">
            <h2>{{infosection3.titulo}}</h2>
            <p>{{infosection3.parrafo1}}</p>
            <p>{{infosection3.parrafo2}} </p>
        </div>
        <div class="col-md-6"><br><br>
            <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel" data-interval="3000">
                <ol class="carousel-indicators">
                    <li data-target="#carouselExampleIndicators"
                        *ngFor="let indicador of Infosection3Slider;let i = index" style="background-color:black"
                        [attr.data-slide-to]="i" [ngClass]="i == 0 ? 'active' : ''">
                    </li>
                </ol>
                <div class="carousel-inner">
                    <div class="carousel-item " *ngFor="let contenido of Infosection3Slider; let k = index"
                        [ngClass]="k == 0 ? 'item active' : 'item'">
                        <div class="sec slides3">
                            <p>{{contenido.parrafo1}}</p>
                            <b>{{contenido.parrafo2}}</b><br>
                            <p>{{contenido.parrafo3}}</p>
                        </div><br>
                        <div class="paddin1">
                            <h6 style="color:coral">{{contenido.nombre}}</h6>
                            <h6 style="margin:-2.5% 0;">{{contenido.web}}</h6>
                        </div>
                    </div>
                </div>
                <a class="carousel-control-prev " href="#carouselExampleIndicators" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" style="background-color: rgb(181, 182, 180)"
                        aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next " href="#carouselExampleIndicators" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" style="background-color: rgb(181, 182, 180)"
                        aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
        </div>
    </div>
</div><br><br><br>

<!-- section4 -->
<div class="container">
    <div class="section4">
        <div>
            <b>SOMOS MUCHAS COSAS,</b><br><br>
        </div>
        <p>PERO SOBRE TODO..</p>
        <p class="psection4"> SOMOS UN EQUIPO</p>
    </div>
    <div class="row">
        <div class="col-md-4 col-sm-6">
            <div class="box">
                <img src="https://i.pinimg.com/originals/ca/ff/ff/caffff80e9b3e15293780fe00e30721e.jpg" alt="">
                <div class="box-content">
                    <h3 class="title">Mirella Prieto</h3>
                    <span class="post">Contadora Publica</span>
                    <ul class="icon">
                        <li><a href="#"><i class="fa fa-search"></i></a></li>
                        <li><a href="#"><i class="fa fa-link"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-6">
            <div class="box">
                <img src="https://www.inacap.cl/tportal/portales/tp5e128a166i290/uploadImg/Image/Gonzalo-Vargas-Otte-interior.jpg"
                    alt="">
                <div class="box-content">
                    <h3 class="title">Jhon Zabala</h3>
                    <span class="post">Desarrolladro Web</span>
                    <ul class="icon">
                        <li><a href="#"><i class="fa fa-search"></i></a></li>
                        <li><a href="#"><i class="fa fa-link"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-6">
            <div class="box">
                <img src="https://i.pinimg.com/originals/bb/b9/3a/bbb93a13948dc2d306aec5c1ee4910ac.jpg" alt="">
                <div class="box-content">
                    <h3 class="title">Angie Prieto</h3>
                    <span class="post">Asistente</span>
                    <ul class="icon">
                        <li><a href="#"><i class="fa fa-search"></i></a></li>
                        <li><a href="#"><i class="fa fa-link"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>

    </div>
</div><br>
<hr class="style2 ">
<hr class="style1">

<!-- section5 -->
<div class="container">
    <div class="row">
        <div class="col-md-8 text-center">
            <hr class="style4">
            <h3>TRANQUILO, SOMOS SERIOS.</h3>
            <p>Trabajamos duro y nos tomamos muy en serio tu negocio, porque sabemos que cuando contratas a una empresa
                esto es lo único que te importa.</p>
            <p>Ojo, esto no significa que seamos sosos o aburridos. De hecho, quienes leen <a href="#">nuestro blog</a>
                dicen que se divierten mucho. Pero cada cosa a su tiempo. </p>
            <p>Cuando trabajamos en un proyecto somos profesionales y muy responsables.</p><br>
            <div class="row">
                <div class="col-md-4 img-center1">
                    <img src="https://www.ensalza.com/wp-content/uploads/ensalza-agente-oficial-confianza-online.png"
                        alt="">
                </div>
                <div class="col-md-4 img-center2">
                    <img src="https://www.ensalza.com/wp-content/uploads/elementor/thumbs/ensalza-google-partner-adwords-nnu5lc8z3xhnyuqbjb24474u3a9chu8n18iauvqww0.png"
                        alt="">
                </div>
            </div>
        </div>
        <div class="col-md-4 ">
            <img class="img-center3"
                src="http://1.bp.blogspot.com/-4q7gM4zxWM0/UqMoump87gI/AAAAAAAAAG4/tnBLu-chVfE/s1600/Imagen5.png"
                alt="">
        </div>
    </div>
</div>
<hr class="style2 ">
<hr class="style1">
<!-- section6 -->

<div class="container">
    <div class="row ">
        <div class="col-md-12 text-center">
            <h1>#AJMSOLUCIONES</h1>
            <p>y nuestra instalaciones se encuentran a su servicio visitanos...</p>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 separate">
            <div class="hovereffect">
                <img class="img-responsive" src="../../../assets/img/full-img3.jpg" alt="">
                <div class="overlay">
                    <h2>Ajm soluciones</h2>
                    <a class="info" href="#">Saber mas</a>
                </div>
            </div>
        </div>

        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 separate">
            <div class="hovereffect">
                <img class="img-responsive" src="../../../assets/img/big-1.jpg" alt="">
                <div class="overlay">
                    <h2>Ajm soluciones</h2>
                    <a class="info" href="#">Saber mas</a>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 separate">
            <div class="hovereffect">
                <img class="img-responsive" src="../../../assets/img/big-2.jpg" alt="">
                <div class="overlay">
                    <h2>Ajm soluciones</h2>
                    <a class="info" href="#">Saber mas</a>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 separate">
            <div class="hovereffect">
                <img class="img-responsive" src="../../../assets/img/big-3.jpg" alt="">
                <div class="overlay">
                    <h2>Ajm soluciones</h2>
                    <a class="info" href="#">Saber mas</a>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 separate">
            <div class="hovereffect">
                <img class="img-responsive" src="../../../assets/img/iphone-img.png" alt="">
                <div class="overlay">
                    <h2>Ajm soluciones</h2>
                    <a class="info" href="#">Saber mas</a>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 separate">
            <div class="hovereffect">
                <img class="img-responsive" src="../../../assets/img/big-2.jpg" alt="">
                <div class="overlay">
                    <h2>Ajm soluciones</h2>
                    <a class="info" href="#">Saber mas</a>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 separate">
            <div class="hovereffect">
                <img class="img-responsive" src="../../../assets/img/full-img3.jpg" alt="">
                <div class="overlay">
                    <h2>Ajm soluciones</h2>
                    <a class="info" href="#">Saber mas</a>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 separate">
            <div class="hovereffect">
                <img class="img-responsive" src="../../../assets/img/big-1.jpg" alt="">
                <div class="overlay">
                    <h2>Ajm soluciones</h2>
                    <a class="info" href="#">Saber mas</a>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 separate">
            <div class="hovereffect">
                <img class="img-responsive" src="../../../assets/img/big-2.jpg" alt="">
                <div class="overlay">
                    <h2>Ajm soluciones</h2>
                    <a class="info" href="#">Saber mas</a>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 separate">
            <div class="hovereffect">
                <img class="img-responsive" src="../../../assets/img/big-3.jpg" alt="">
                <div class="overlay">
                    <h2>Ajm soluciones</h2>
                    <a class="info" href="#">Saber mas</a>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 separate">
            <div class="hovereffect">
                <img class="img-responsive" src="../../../assets/img/big-1.jpg" alt="">
                <div class="overlay">
                    <h2>Ajm soluciones</h2>
                    <a class="info" href="#">Saber mas</a>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 separate">
            <div class="hovereffect">
                <img class="img-responsive" src="../../../assets/img/big-2.jpg" alt="">
                <div class="overlay">
                    <h2>Ajm soluciones</h2>
                    <a class="info" href="#">Saber mas</a>
                </div>
            </div>
        </div>
    </div>

</div><br><br>

<!-- section7 -->

<div class="container">
    <div class="row background ">
        <div class="col-md-8">
            <p>Ahora que ya nos conoces ¿qué te parece si hablamos de tu proyecto?</p>
            <hr class="style5">
            <p class="p2">Cuéntanos, estamos deseando darle forma a tu idea</p>
            <div class="divs7">
                <a routerLink='/usuarios/contactenos'>PIDENOS PRESUPUESTO PARA TU PROYECTO&nbsp; <span
                        class="fa fa-bell"></span></a>
            </div><br>
            <div class="col-md-4"></div>
        </div>
    </div>
</div>
<br>

<app-footer></app-footer>