img {
    width: 100%;
    height: 230px;
}
hr.style1{
    margin-top: 0;
    margin-bottom: 5px;
}
.card{
    font-family: Georgia, 'Times New Roman', Times, serif
}

.reauth-email {
    display: block;
    color: red;
    line-height: 2;
    margin-bottom: 10px;
    font-size: 14px;
    text-align: left;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  
  }