<!-- section1 -->
<br>
<div class="container">
  <div class="row">
    <div class="col-md-10">
      <h3>Soluciones contables</h3>
      <hr class="style1"><br>
      <hr class="style3">
      <p>Prestamos nuestros servicios con altos estándares de calidad soportados en una metodología eficiente y con un
        personal altamente capacitado, bajo principios de honestidad, responsabilidad, excelencia, confidencialidad y
        trabajo en equipo.</p>
      <hr class="style3">
    </div>
  </div>
</div>

<!-- section2 -->
<br><br>
<div class="container">
  <div class="row">
    <div class="col-md-3">
      <div class="nav flex-column nav-pills color_ rounded" id="v-pills-tab" role="tablist" aria-orientation="vertical">
        <a *ngFor="let data of  InfoServiciosContable;let i = index" class="nav-link " data-toggle="pill"
          (click)="pagina()" href="#v-pills-{{data.palabraid}}" role="tab"
          [ngClass]="i == 0 ? 'active' : ''">{{data.titulo | uppercase}}
        </a>
      </div>
    </div>

    
    <div class="col-md-8 divp"><br>
      <div class="tab-content" id="v-pills-tabContent">
        <div *ngFor="let data of  InfoServiciosContable;let k = index" class="tab-pane fade"
          id="v-pills-{{data.palabraid}}" role="tabpanel" [ngClass]="k == 0 ? 'show active' : ''">
          <h3 class="text-capitalize">{{data.titulo | lowercase }}</h3>
          <hr class="style2"><br>
          <div class="box">
            <img [src]="data.url" alt="">
            <div class="box-content">
              <div class="content">
                <h3 class="title">{{data.titulo | lowercase}}</h3>
                <span class="post">AJM soluciones</span>
              </div>
              <ul class="icon">
                <li><i class="fa fa-angellist"></i></li>
                <li><i class="fa fa-thumbs-up"></i></li>
              </ul>
            </div>
          </div>
          <div>
            <hr class="style4">
            <p class="text-justify ">{{data.descripcion}}</p>
            <p class="text-justify">{{data.descripcion_atras}}</p>
            <hr class="style4"><br>
          </div>
          <div>
            <a class="link" *ngIf="data.botondocumentacion" (click)="document()"><span>Documentacion
                requerida</span></a>&nbsp;&nbsp;&nbsp;
            <a class="link" routerLink='/usuarios/contactenos'><span>Contactar servicio</span></a>
            <div *ngIf="documentac">
              <h6>documentos</h6>
            </div>
          </div>
        </div>
      </div><br>
    </div>
  </div><br>
</div><br>
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h2>Noticias destacadas</h2>
      <hr class="style5">
    </div>
  </div><br>
  <div class="row">
    <div class="col-md-4" *ngFor="let data of  InfoNoticiasContables" >
      <div class="card bg-light">
        <img class="card-img-top imagen"
        [src]="data.url"
          alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title border-bottom pb-3 c0">{{data.titulo}}
            <a class="float-right d-inline-flex share "><i class="fa fa-calendar"></i>{{data.fecha}}</a></h5>
          <p class="card-text">{{data.texto1 | slice :0 :100}}.......</p>
          <button class="btn float-right" [routerLink]="['/usuarios/noticiassingle', data.id, 1]" >Leer mas&nbsp;<i class="fa fa-angle-double-right"></i></button>
        </div>
      </div>
    </div>
  </div>
</div>
<br><br>
<app-footer></app-footer>