<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="text">
        <h3>{{noticias.titulo}}</h3>
        <hr class="style1">
        <p><i class="fa fa-calendar"></i>&nbsp; {{noticias.fecha}}</p>
      </div>
      <div class="text-center grow">
        <img class="rounded imgp" src="{{noticias.url}}" alt="">
      </div>
      <div class="text-p text-justify">
        <p>{{noticias.texto1}}</p>
        <div class="text-center">
          <img class="rounded grow1" src="{{noticias.url1}}" alt="">
        </div>
        <p>{{noticias.texto2}}</p>
        <p>{{noticias.texto3}}</p>
        <div class="text-center">
          <img class="rounded grow1" src="{{noticias.url2}}" alt="">
        </div>
        <p>{{noticias.texto4}}</p>
        <p>{{noticias.texto5}}</p>
        <p *ngIf="fuente" >Fuente:<a href="https://actualicese.com/" target="_blank">Actualícese</a>
        </p>
      </div>

    </div>
  </div>
</div><br>

<app-footer></app-footer>