<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="text">
        <h3>Exógena: Sanciones por no enviar este reporte.</h3>
        <hr class="style1">
        <p><i class="fa fa-calendar"></i>&nbsp; 31 Mayo, 2019</p>
      </div>
      <div class="text-center grow">
        <img class="rounded imgp" src="../../../assets/img/big-2.jpg" alt="">
      </div>
      <div class="text-p text-justify">
        <p *ngIf="prueba">Respecto al asumir el reporte de información exógena como una obligación tributaria formal, la
          Dian tiene la
          facultad de imponer sanciones por el no envío del mismo hasta tres años después del vencimiento del plazo para
          su presentación, de conformidad con las disposiciones del artículo 638 del ET.</p>
        <div *ngIf="url1" class="text-center">
          <img class="rounded" src="../../../assets/img/iphone-img.png" alt="">
        </div>
        <p>A continuación daremos respuesta a la siguiente pregunta: Si una empresa no ha realizado el envío de la
          información exógena de 2016 en adelante, ¿se puede realizar ese envío en 2019 y pagar la sanción
          correspondiente?////</p>
        <p>Teniendo en cuenta que el artículo 638 del Estatuto Tributario –ET– faculta a la Dian para castigar el
          incumplimiento de las obligaciones tributarias formales hasta tres años después de su vencimiento, la
          información exógena del año gravable 2016 que debía ser presentada en 2017 podrá ser requerida por la Dian
          hasta 2020. No obstante, el obligado podrá presentar dicha información de forma extemporánea, entendiendo que
          la Dian podrá aplicarle una sanción por el no envío oportuno de la misma, sanción contemplada en el artículo
          651 del ET, la cual podría llegar a ser de hasta 15.000 UVT ($514.050.000), de acuerdo con el porcentaje de
          información no suministrada.</p>
        <div *ngIf="url2">
          <img class="rounded" src="../../../assets/img/iphone-img.png" alt="">
        </div>
        <p>Sin embargo, las personas o entidades que no presentaron tal reporte tienen la posibilidad de subsanar
          voluntariamente este incumplimiento antes de que la Dian profiera el pliego de cargos en su contra, liquidando
          ellas mismas la sanción antes mencionada, pero con la posibilidad de reducirla al 20 %; esta, deberá ser
          pagada mediante el formulario 490 con el concepto“71 – Sanción parágrafo artículo 651 del ET”.</p>
        <p>Adicionalmente, a esta sanción ya reducida le puede ser aplicada la reducción del artículo 640 del ET,
          artículo en el cual se establece que las sanciones liquidadas por los contribuyentes, agentes retenedores,
          responsables o declarantes podrán ser reducidas al 50 % o al 75 %, siempre y cuando el interesado cumpla los
          requisitos señalados en la normatividad en cuestión.</p>
        <p>Fuente:<a href="https://actualicese.com/" target="_blank">Actualícese</a>
        </p>
      </div>

    </div>
  </div>
</div><br>

<app-footer></app-footer>