<nav class="navbar navbar-icon-top fixed-top navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" routerLink='inicio'>
    <img src="https://getbootstrap.com/docs/4.0/assets/brand/bootstrap-solid.svg" width="40" height="40"
      class="d-inline-block align-top" alt="">
    Ajm Soluciones
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item ">
        <a class="nav-link" routerLink='inicio' routerLinkActive="active">
          <i class="fa fa-home"></i>
          Inicio
          <span class="sr-only">(current)</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink='acercade' routerLinkActive="active">
          <i class="fa fa-users">
          </i>
          Nosotros
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink='serviciosc' routerLinkActive="active">
          <i class="fa fa-money">
          </i>
          Contables
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink='serviciosi' routerLinkActive="active">
          <i class="fa fa-laptop">
          </i>
          Informaticos
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink='contactenos' routerLinkActive="active">
          <i class="fa fa-envelope-o">
          </i>
          Contactenos
        </a>
      </li>
    </ul>
    <button class="btn btn-outline-primary btn-primary  my-2 my-sm-0" routerLink='login'>Iniciar Sesion</button>&nbsp;
    <button class="btn btn-outline-primary btn-primary my-2 my-sm-0" type="submit">Registrese</button>
  </div>
</nav>